body {
    position: relative;
    width: 50vw;
    align-content: center;
    background-color: #C3CAF0;
}

#game-board {
    border: solid black;
    margin: auto;
    padding: auto;
    align-content: center;


}

table {
    border-collapse: collapse;
}

[class|="square"]{
    height: 20px;
    width: 50px;
    padding: 0;
    margin: 0;
    font-size: 0px;
    line-height: 0px;


}

.square--grey {
    background-color: #D3D3D3;
}

.square--yellow,
#Yellow {
    background-color: #F7B538;

}

.square--red,
#Red {
    background-color: #720026;

}

.square--blue,
#Blue{
    background-color: #7B8CDE;

}

.square--orange,
#Orange {
    background-color: #E9724C;

}

button {
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    font-size: 110%;
    color: white;
    cursor: pointer;
}
#counter {
    font-size: 30px;
    font-weight: bold;
}







